.GroupingsView {
  flex: 1;
  width: 100%;
}

.GroupingsView-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.GroupingsView-card {
  padding: 15px;
  text-align: left;
  font-size: 14px;
}

.GroupingsView-grouping {
  margin-top: 10px;
  border-radius: 5px;
}

.GroupingsView-title {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.GroupingsView-cards {
  border-top: 1px solid #aaa;
}