.Swiping {
  flex: 1;
  width: 100%;
}

.Swiping-card {
  margin: 15px;
  padding: 5px;
  font-size: 24px;
  height: 180px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Swiping-left {
  text-align: center;
}